<div class="columns is-centered mt-4">
  <div class="column is-half">
    <div class="card has-text-centered">
      <div class="card-content">
        <div class="content">
          <h1>
            HOLA!
          </h1>

          <h3>
            Vamos a realizarte unas preguntas para saber que proceso podes realizar
          </h3>

          <%= button_to 'Comenzar', start_checking_url, class:"button is-block is-success is-large is-fullwidth", method: :get %>
        </div>
        <%
=begin%>
 <% if user_signed_in? %>
        <div class="content">
          <%= button_to 'Cerrar Sesion', logout_url, method: :delete %>
        </div>
        <% else %>
        <div class="content">
          <span>Inicia sesion si ya respondiste nuestro cuestionario</span>
          <%= link_to 'Iniciar Sesion', login_url %>
        </div>
        <% end %> 
<%
=end%>
      </div>
    </div>
  </div>
</div>
